#certificates {
  padding: 4em 2em;
  height: 80vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

#certificates .frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* border: 1px solid red; */
}


#certificates .frame .img-container {
  /* width: 30vw;
  height: 42.5vw; */
  /* width: 40%;  */
  height: 100%; 
  aspect-ratio: 0.70;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 0.5em 0.6em 10px 2px #0000004d;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 


#certificates .frame > img {
  width: 100%;
  height: auto;
}

#certificates .frame .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6em;
  height: 6em;
  opacity: 0.5;
  z-index: 1;
  transition: opacity 0.1s ease-in
}

#certificates .frame .arrow:hover {
  cursor: pointer;
  opacity: 1;
}

#certificates .frame .arrow.left {
  left: 10%;
}

#certificates .frame .arrow.right {
  right: 10%;
}

#certificates .frame .arrow.right img {
  transform: scaleX(-1);
}


/*? Open Certificate */


.open-certificate {
  padding: 4em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 80vh;
  width: 60vw;
  overflow: auto;
  border: 3px solid black;
  border-radius: 13px;
  z-index: 1001;
  background-color: white;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  transition: opacity 0.1s ease-in;
  opacity: 0.4;
}

.open-certificate:hover {
  opacity: 1;
}

.open-certificate img {
  width: 70%;
  margin: 0 auto;
}

.open-certificate::-webkit-scrollbar {
  display: none;
}

.certificate-backdrop {
  position: absolute;
  backdrop-filter: blur(30px);
  inset: 0;
  z-index: 1000;
  transition: backdrop-filter 0.1s ease-in;
}

.certificate-backdrop:hover {
  backdrop-filter: blur(5px);
  cursor: pointer;
}