.wrapper > main {
    max-width: 100vw;
}

.wrapper > main > section {
    display: flex;
    opacity: 0;
    align-items: center;
    flex-direction: column;
    transform: translateX(10%);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.wrapper > main > section.show {
    opacity: 1;
    transform: translateX(0);
}