.wrapper > main {
    max-width: 100vw;
    padding: 10em 0;
    display: flex;
    flex-direction: column;
    gap: 10em;
}

.wrapper > main > section {
    flex: 1 0;
    display: flex;
    opacity: 0;
    align-items: center;
    flex-direction: column;
    transform: translateX(12%);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.wrapper > main > section > .title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
  }
  

.wrapper > main > section.show {
    opacity: 1;
    transform: translateX(0);
}

.wrapper > main > section > * {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}


.wrapper > main > section > .fade {
    transform: translateX(15%);
    opacity: 0;
}