.wrapper > .menu-button {
    position: fixed;
    left: 3em;
    top: 3em;
    width: 2vw;
    max-width: 50px;
    border-radius: 7%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    cursor: pointer;
    transition: transform 0.05s ease-in;
}

.wrapper > .menu-button:hover {
    transform: rotate(-90deg) translate(5%, -0%);
    width: 2.2vw;
}

.wrapper > .menu-button .line {
    min-width: 5px;
    width: 1.5%;
    height: 100%;
    background-color: black;
    transition: background-color 0.15s ease-in, box-shadow 0.5s ease-in;
}
.wrapper > .menu-button:hover .line {
    height: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px 1px rgb(253, 52, 2), 0 0 1px 1px rgb(250, 153, 128) inset;

}

aside.side-menu {
    position: fixed;
    min-height: 100vh;
    width: 15%;
    max-width: 500px;
    background-color: rgb(253, 253, 253);
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0 5px;
    transition: transform 0.2s ease-in;
    z-index: 1000;
}

.side-menu-backdrop {
    position: absolute;
    inset: 0;
    z-index: 998;
    backdrop-filter: blur(1px);
}

aside.side-menu.side-menu-closed {
    transform: translate(-100%);
}

aside.side-menu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

aside.side-menu li {
    width: 100%;
    padding: 1em 0;
    background-color: rgba(128, 128, 128, 0);
    transition: background-color 0.3s ease-in;
    text-align: center;
    cursor: pointer;
}


aside.side-menu li:hover {
    background-color: black;
}

aside.side-menu li:hover > a {
    color: white;
    font-weight: 900;
    font-size: 1.4em;
}

aside.side-menu a {
    color: rgb(245, 99, 15);
    font-weight: bold;
    font-size: 20px;
}
