#summary {
    gap: 1.5em;
}

#summary .name {
    font-size: 48px;
    font-weight: bold;
    word-spacing: 0.5em;
    letter-spacing: 3px;
}

#summary .summary {
    padding: 0 1em;
    text-align: center;
    word-spacing: 0.2em;
    letter-spacing: 2px;
}

#summary .summary > span {
    font-size: 32px;
    line-height: 0.5;
}
