@media (max-width: 1200px) {
  .wrapper > div.menu-button {
    min-width: 40px;
  }

  .wrapper aside.side-menu li {
    font-size: 2em;
  }

  .wrapper aside.side-menu {
    width: 40%;
  }

  .wrapper aside.side-menu ul {
    height: 100%;
    padding: 10vh 0;
    justify-content: space-evenly;
  }

  .wrapper #summary .name {
    font-size: 4em;
  }

  .wrapper #summary .summary {
    text-align: center;
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 2em;
  }

  .wrapper main > #contacts {
    flex-direction: row;
  }

  
#certificates .frame div.img-container {
  /* width: 60vw;
  height: 85.7vw; */
  /* height: 100%;  */
} 


#certificates .frame div.arrow.left {
  left: 0;
}

#certificates .frame div.arrow.right {
  right: 0;
}

#projects .project-container > p.project-description {
  text-align: center;
  width: auto;
}

}

@media (max-width: 600px) {
  .wrapper > div.menu-button {
    min-width: 20px;
  }

  .wrapper aside.side-menu li {
    font-size: 1em;
  }

  #technologies .tech-stack {
    justify-content: center;
    align-items: center;
  }

  .wrapper #summary .name {
    font-size: 2em;
  }

  .wrapper #summary .summary {
    text-align: center;
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 1em;
  }

  .wrapper main > #contacts {
    justify-content: flex-start;
    overflow: hidden;
  }

  .wrapper main > #contacts .contact-container {
    flex: 1 0 50%;
    justify-content: flex-start;
    padding: 0 1em;
  }

  .wrapper main > #contacts .contact-container > p {
    font-size: 1em;
  }

  #technologies > div.tech-stack {
    gap: 0;
  }

  
#certificates .frame div.arrow {
  width: 3em;
  height: 3em;
}


#certificates .frame div.arrow.left {
  left: -8%;
}

#certificates .frame div.arrow.right {
  right: -8%;
}

#languages svg.lang-level {
  width: 68%;
}
}