@import url("reset.css");
@import url("typography.css");
@import url("animations/clipboard.css");
@import url("animations/borders.css");
@import url('components/side-menu.css');
@import url('components/main-content.css');
@import url('components/summary.css');
@import url('components/contacts.css');
@import url('components/certificates.css');
@import url('components/technologies.css');
@import url('components/projects.css');
@import url('components/languages.css');


:root {
    --orange: rgb(253, 52, 2);
}

.wrapper {
    position: relative;
    padding: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
    z-index: 1;
}

.inactive {
    display: none;
}

#main-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

.lock {
    overflow: hidden;
}

